In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../data/train.csv')


print(df.corr(numeric_only=True)['Survived'].sort_values(ascending=False))

pd.crosstab(df['Sex'], df['Survived'], normalize='index')

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908